

/* Navbar for Med. and Lg. Screens*/
#navbarCollapse{
    background-color: transparent;
    width: 410;
    margin: auto; 
}
/*Nav Text*/
.navBtn {
    color:whitesmoke;
    font-weight: 575;
    font-size: 1em;
}

/*Tobble bar color*/
.icon-bar{
    background-color: darkgray;
}

/*Jumbotron!*/
#topJumbo{
    background-image:url(images/coffeeCloseUp.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
}

/*TextFormatting*/
.textBox{
    text-align: center;
    width: 100%;
    height: auto;
    font-family: monospace;
    margin: 80px auto 30px auto;
}

#myCarousel{
    position: relative;
    background-color: lightcoral;
    height: auto;
    width: 100%;
}
.item{
 min-height: 300px;   
}

/*Carousel hover/focus colors*/
.carousel-control:hover,
.carousel-control:focus {
    color: #000000;
}
/*Carousel Controls*/
.carousel-control{
    background: none !important;
    position: absolute;
    top: auto;
    bottom: 150;
    color:#000;
    font-size: 2em;
}
/*Carousel Indicators Position and colors*/
.carousel-indicators li{
  	display: inline-block;
   	width: 10px;
   	height: 10px;
   	margin: 0 2px;
   	background: transparent;
   	border-radius: 50%;
   	border: 3px solid transparent;
   	box-shadow: rgba(0,0,0,0.5) 0 0 2px;

}
.carousel-indicators .active {
  	background-color: #000000;
}


#coffeeSmile {
    position: absolute;
    background-image:
        linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(images/coffeeSmiley.jpg);
    background-size: cover;
    height: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

#menuText{
    position: relative;
    margin-top: 20%;
    color: white;
    font-weight: 700;
    text-align: center;
}

