@media handheld and (max-width: 481px) and (orientation: portrait) {
  html,body{width:100%;overflow:hidden;}
}

@media handheld and (max-width: 380px) and (orientation: portrait) {
  html,body{width:100%;overflow:hidden;}
}


/* Navbar for Med. and Lg. Screens*/
#navbarCollapse{
    background-color: transparent;
    width: 410;
    margin: auto; 
}
/*Nav Text*/
.navBtn {
    color:whitesmoke;
    font-weight: 575;
    font-size: 1em;
}

/*Tobble bar color*/
.icon-bar{
    background-color: darkgray;
}

/*Jumbotron!*/
.jumbotron{
    background-image:url(images/coffeeCloseUp.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -75px;
}

/*TextFormatting*/
.textBox{
    text-align: center;
    width: 100%;
    height: auto;
    font-family: monospace;
    margin: 80px auto 30px auto;
}

#myCarousel{
    position: relative;
    background-color: lightcoral;
    height: auto;
}
.item{
 min-height: 300px;   
}

/*Carousel hover/focus colors*/
.carousel-control:hover,
.carousel-control:focus {
    color: #000000;
}
/*Carousel Controls*/
.carousel-control{
    background: none !important;
    position: absolute;
    top: auto;
    bottom: 150;
    color:#000;
    font-size: 2em;
}
/*Carousel Indicators Position and colors*/
.carousel-indicators li{
  	display: inline-block;
   	width: 10px;
   	height: 10px;
   	margin: 0 2px;
   	background: transparent;
   	border-radius: 50%;
   	border: 3px solid transparent;
   	box-shadow: rgba(0,0,0,0.5) 0 0 2px;

}
.carousel-indicators .active {
  	background-color: #000000;
}



/*Menu Background*/
#coffeeWrapper{
    position: relative;
    background: url(images/coffeeSmiley.jpg)no-repeat center center;
    height: 750px;
    width: 100%;
    margin: 60px auto 85px auto;
    background-size: 100%;
  
    overflow: hidden;

}

/*Coffee bar blurb and download*/
#menu{
   
    position: absolute;
    margin: 0 auto 0 auto;
    background: white;
    opacity: .8;
    height: 50%;
    max-height: 250px;
    width: 100%;
    top: 50%;
}
#menuText{
    width: 75%;
    margin: 0 auto 0 auto;
}

/*Download Menu Button*/
#download{
    position:relative;
    opacity: 1.0 !important;
    
}
/*Instagram!*/
#instagram{
    position: relative;
    height: 300px;
    width: 100%;
    background-color: dimgray;
    margin: 0 auto 0 auto;
    
    


} 